@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

/*Basic styles*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #111;
    width: 100%;
    min-height: 100vh;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

/*Main styles*/
main {
    flex: 1 0 auto;
    background: #111;
    width: 100%;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0.8), rgba(17, 17, 17, 0.8)), url(images/computer-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/*Home styles*/
#home {
    width: 100%;
    min-height: 46rem;
    box-sizing: border-box;
    padding: 3rem 5rem;
    position: relative;
}

.top-bar {
    width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 0.5rem double teal;
    padding: 0.8rem;
    background: #111;
    outline: 0.2rem solid white;
    box-sizing: border-box;
}

.fa-bars {
    font-size: 2rem;
    cursor: pointer;
    display: inline-block;
}

.words {
    margin: 5rem 0;
}

.words .line1 {
    font-size: 3.2rem;
    font-size: calc(49px + (75 - 49) * ((100vw - 576px) / (7500 - 576)));
}

.words .line2 {
    font-size: 2rem;
    font-size: calc(25px + (35 - 25) * ((100vw - 576px) / (7500 - 576)));
    margin-top: 1rem;
}

#portfolio-button {
    display: inline-block;
    padding: 1rem;
    background: teal;
    text-decoration: none;
    color: white;
    border-radius: 1px;
    margin-top: 0.5rem;
    transition: background 0.3s ease-out, color 0.3s ease-out;
}

#portfolio-button:hover {
    background: white;
    color: #111;
}

/*Sidebar styles*/
nav {
    width: 9rem;
    height: 100%;
    background: teal;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translateX(200%);
    transition: transform 0.5s linear;
}

.fa-times {
    font-size: 1.6rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

.nav-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    width: 100%;
}

.nav-links a {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    transition: background 0.3s ease-out, color 0.3s ease-out;
}

.nav-links a:hover {
    background: white;
    color: #111;
}

/*Technologies styles*/
#techno {
    width: 100%;
    min-height: 30rem;
    background: rgb(0, 94, 94);
    background: teal;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 5rem;
    box-sizing: border-box;
    border-top: 0.5rem solid white;
    border-bottom: 0.5rem solid white;
}

#techno h2 {
    text-align: center;
}

.tech-known, 
.tech-learning {
    width: 10rem;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-html5 {
    color: orangered;
}

.fa-css3-alt {
    color: dodgerblue;
}

.fa-js {
    color: gold;
}

.fa-bootstrap {
    color: purple;
}

.fa-react {
    color: cyan;
}

.fa-git-alt {
    color: orangered;
}


/*Portfolio styles*/
#portfolio {
    width: 100%;
    height: 100%;
    padding: 3rem 0;
    text-align: center;
}

.projects {
    width: calc(900px + 2rem);
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(8, 200px);
    grid-gap: 1rem;
    margin: 3rem auto;
}

.project {
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    border: 0.2rem solid white;
    border-radius: 1px;
    position: relative;
    background-color: white;
}

.project .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
}
.project h3 {
    background: rgba(17,17,17,0.9);
}
.project hr {
    width: 80%;
    height: 1px;
    background: white;
    margin: 0 auto;
    border: none;
    display: none;
}

.project a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    background: teal;
    padding: 0 0.5rem;
    color: white;
    transition: background 0.3s ease-out, color 0.3s ease-out;
    position: absolute;
    z-index: 12;
    text-align: center;
}

.project a:nth-of-type(1) {
    left: 0;
    bottom: 0;
    border: 0.2rem solid #111;
    border-right: 0.1rem solid #111;
}

.project a:nth-of-type(2) {
    right: 0;
    bottom: 0;
    border: 0.2rem solid #111;
    border-left: 0.1rem solid #111;
}

.project a:hover {
    background: white;
    color: #111;
}

#project-1 {
    background: url(images/Chocolate\ Website.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-2 {
    background: url(images/Rocks.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-3 {
    background: url(images/Camp\ Life.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-4 {
    background: url(images/Save\ Bees.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-5 {
    background: url(images/Wave\ Riders.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-6 {
    background: url(images/Violin.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-7 {
    background: url(images/FruitApples.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-8 {
    background: url(images/Pears.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-9 {
    background: url(images/Oranges.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-10 {
    background: url(images/Cat\ Dog\ Quiz.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-11 {
    background: url(images/Converter.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-12 {
    background: url(images/Fortunes.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-13 {
    background: url(images/Lamplight.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-14 {
    background: url(images/Magic\ Eight\ Ball.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-15 {
    background: url(images/Clock.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-16 {
    background: url(images/Calculator.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-17 {
    background: url(images/To\ Do\ List.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-18 {
    background: url(images/Mood\ Colors.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-19 {
    background: url(images/Word\ Analyzer.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-20 {
    background: url(images/Tree\ Guessing\ Game.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-21 {
    background: url(images/Guess\ the\ Number.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-22 {
    background: url(images/Rock\ Paper\ Scissors.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-23 {
    background: url(images/Tic\ Tac\ Toe.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#project-24 {
    background: url(images/Vending\ Machine.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}


/*Footer styles*/
footer {
    flex-shrink: 0;
    width: 100%;
    min-height: 5rem;
    font-size: 0.8rem;
    font-size: calc(14px + (25 - 14) * ((100vw - 576px) / (7500 - 576)));
    background: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

@media (max-width: 970px) {
    .projects {
        width: calc(600px + 1rem);
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(12, 200px);
    }
}

@media (max-width: 660px) {
    .words {
        position: relative;
        top: calc()
    }
    .projects {
        width: 300px;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(24, 200px);
    }
}