* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Oswald', sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #333;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, #333, black);
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 10px 100px black;
    box-sizing: border-box;
    z-index: 10;
    padding: 0 2rem;
}

nav .logo {
    min-width: 7rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

nav .logo-middle {
    width: 3rem;
    height: 3rem;
    border: 0.15rem solid white;
    transform: rotateZ(45deg);
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo-middle span {
    transform: rotateZ(-45deg);
    font-size: 1.5rem;
}

nav .logo-side {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid white;
    transform: rotateZ(45deg);
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

nav .logo-side span {
    transform: rotateZ(-45deg);
    font-size: 0.5rem;
}

nav .burger {
    width: 2.5rem;
    height: 2.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    display: none;
}

nav .burger div {
    width: 100%;
    height: 0.2rem;
    background: white;
    border: 1px solid white;
}

nav ul {
    width: 20rem;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    position: static;
    transform: translateX(0%);
}

@keyframes navLinksFadeIn {
    from {
        transform: translateX(-200%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes navLinksFadeOut {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(-200%);
        opacity: 0;
    }
}

nav ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: background 0.2s ease-out, color 0.3s ease-out, transform 0.3s ease-out;
}

nav ul li a:hover {
    color: skyblue;
    transform: scale(1.2);
}

main {
    flex: 1 0 auto;
    min-height: 100%;
    width: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.overlay:hover {
    opacity: 1;
}

section#home {
    height: 46rem;
    background: linear-gradient(to bottom, white 10%, rgba(30, 144, 255, 0.8) 10%, rgba(30, 144, 255, 0.8)), url(images/computer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    position: relative;

}

section#home h1 {
    height: 5rem;
    margin: 0 auto;
    position: relative;
    top: calc(50% - 2.5rem);
    font-size: 4.7rem;
    font-style: oblique;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    z-index: 1;
}

.square {
    animation-name: floatsquare;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    position: absolute;
    bottom: -2rem;
}

.square:nth-of-type(even) {
    width: 2rem;
    height: 2rem;
    transform: rotateZ(45deg);
    background: rgba(255,255,255,0.5);
}

.square:nth-of-type(odd) {
    width: 1rem;
    height: 1rem;
    transform: rotateZ(45deg);
    background: rgba(255,255,255,0.5);
}

.square:nth-of-type(1) {
    left: calc(6.5% * 1);
    animation-duration: 16s;
}

.square:nth-of-type(2) {
    left: calc(6.5% * 2);
    animation-duration: 2s;
}

.square:nth-of-type(3) {
    left: calc(6.5% * 3);
    animation-duration: 3s;
}

.square:nth-of-type(4) {
    left: calc(6.5% * 4);
    animation-duration: 4s;
}

.square:nth-of-type(5) {
    left: calc(6.5% * 5);
    animation-duration: 5s;
}

.square:nth-of-type(6) {
    left: calc(6.5% * 6);
    animation-duration: 6s;
}

.square:nth-of-type(7) {
    left: calc(6.5% * 7);
    animation-duration: 7s;
}

.square:nth-of-type(8) {
    left: calc(6.5% * 8);
    animation-duration: 8s;
}

.square:nth-of-type(9) {
    left: calc(6.5% * 9);
    animation-duration: 9s;
}

.square:nth-of-type(10) {
    left: calc(6.5% * 10);
    animation-duration: 10s;
}

.square:nth-of-type(11) {
    left: calc(6.5% * 11);
    animation-duration: 11s;
}

.square:nth-of-type(12) {
    left: calc(6.5% * 12);
    animation-duration: 12s;
}

.square:nth-of-type(13) {
    left: calc(6.5% * 13);
    animation-duration: 13s;
}

.square:nth-of-type(14) {
    left: calc(6.5% * 14);
    animation-duration: 14s;
}

.square:nth-of-type(15) {
    left: calc(6.5% * 15);
    animation-duration: 15s;
}

@keyframes floatsquare {
    0% {
        bottom: -2rem;
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        bottom: 100%;
        opacity: 0;
    }
}

section#about {
    min-height: 46rem;
    background: #333;
    position: relative;
}

section#about h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-style: oblique;
    padding-top: 5rem;
}

section#about p {
    text-align: center;
    text-align-last: center;
    width: 45rem;
    font-size: 1.9rem;
    margin: 2rem auto 2rem auto;
    line-height: 1.2;
    word-spacing: 4px;
}

section#about .skill-icons {
    width: 21.5rem;
    position: absolute;
    bottom: 5rem;
    left: calc(50% - 10.75rem);
}

.fa-html5 {
    color: orangered;
    font-size: 5rem;
    margin: 0 1.5rem;
}

.fa-css3-alt {
    color: #2690d4;
    font-size: 5rem;
    margin: 0 1.5rem;
}

.fa-js {
    color: gold;
    font-size: 5rem;
    margin: 0 1.5rem;
}

section#portfolio {
    background: dodgerblue;
    min-height: 70rem;
    padding-bottom: 5rem;
}

section#portfolio h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-style: oblique;
    padding-top: 5rem;
    margin-bottom: 1rem;
}

section#portfolio .html-css-js {
    width: calc((3 * 390px) + 4rem);
    min-height: 65rem;
    margin: 0 auto;
    position: relative; 
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: repeat(8, 225px);
    grid-gap: 2rem;
}

section#portfolio .html-css-js .project {
    border: 5px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top ;
    background-color: #333;
    padding-bottom: 5rem;
    font-size: 1.2rem;
    position: relative;
    box-shadow: 0 5px 20px black;
}

section#portfolio .html-css-js .project h3 {
    text-align: center;
    margin-top: 1rem;
}

section#portfolio .html-css-js .project hr {
    background: white;
    border: none;
    width: 14rem;
    height: 1px;
    margin: 0.5rem auto;
}

section#portfolio .html-css-js .project-description {
    font-style: italic;
}

section#portfolio .html-css-js .project .site-links {
    width: 10rem;
    height: 5rem;
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 5rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    width: 10rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 10rem;
    background: rgba(0,0,0,0);
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto 0.5rem;
    font-size: 1.1rem;
    color: white;
    transition: background 0.3s ease-out, color 0.3s ease-out;
}

section#portfolio .html-css-js .project .site-links a:nth-of-type(1) {
    left: 0;
}

section#portfolio .html-css-js .project .site-links a:nth-of-type(2) {
    right: 0;
}

section#portfolio .html-css-js .project .site-links button:hover {
    background: skyblue;
    color: black;
    border-color: white;
}

#project-1 {
    background: url(images/Chocolate\ Website.png);
}

#project-2 {
    background: url(images/Rocks.png);
}

#project-3 {
    background: url(images/Camp\ Life.png)
}

#project-4 {
    background: url(images/Save\ Bees.png);
}

#project-5 {
    background: url(images/Wave\ Riders.png);
}

#project-6 {
    background: url(images/Violin.png)
}

#project-7 {
    background: url(images/FruitApples.png);
}

#project-8 {
    background: url(images/Pears.png);
}

#project-9 {
    background: url(images/Oranges.png);
}

#project-10 {
    background: url(images/Cat\ Dog\ Quiz.png);
}

#project-11 {
    background: url(images/Converter.png);
}

#project-12 {
    background: url(images/Fortunes.png);
}

#project-13 {
    background: url(images/Lamplight.png);
}

#project-14 {
    background: url(images/Magic\ Eight\ Ball.png);
}

#project-15 {
    background: url(images/Clock.png);
}

#project-16 {
    background: url(images/Calculator.png);
}

#project-17 {
    background: url(images/To\ Do\ List.png);
}

#project-18 {
    background: url(images/Mood\ Colors.png);
}

#project-19 {
    background: url(images/Word\ Analyzer.png);
}

#project-20 {
    background: url(images/Tree\ Guessing\ Game.png);
}

#project-21 {
    background: url(images/Guess\ the\ Number.png);
}

#project-22 {
    background: url(images/Rock\ Paper\ Scissors.png);
}

#project-23 {
    background: url(images/Tic\ Tac\ Toe.png);
}

#project-24 {
    background: url(images/Vending\ Machine.png);
}

footer {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    min-height: 5rem;
    background: black;
    flex-shrink: 0;
}

footer ul {
    width: 12rem;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

footer ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

footer .very-bottom {
    text-align: center;
    margin: 1rem;
}


@media (max-width: 1236px) {
    section#portfolio .html-css-js {
        width: calc((2 * 390px) + 2rem);
        left: 0;
        right: 0;
        margin: 0 auto;
        grid-template-columns: repeat(2, 390px);
        grid-template-rows: repeat(12, 225px);
        grid-gap: 2rem;
    }
}

@media (max-width: 850px) {
    section#about {
        min-height: 55rem;
    }

    section#about p {
        width: 28rem;
        word-spacing: 5px;
        text-align: center;
    }

    section#portfolio .html-css-js {
        width: 390px;
        left: 0;
        right: 0;
        margin: 0 auto;
        grid-template-columns: repeat(1, 390px);
        grid-template-rows: repeat(24, 225px);
        grid-gap: 2rem;
    }

    nav .burger {
        display: flex;
    }
    
    nav ul {
        width: 100%;
        height: 9rem;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        position: absolute;
        top: 5rem;
        left: 0;
        transform: translateX(-200%);
    }

    nav ul li {
        width: 100%;
        height: 3rem;
        background: lightgray;
        border-bottom: 1px solid white;
        justify-content: flex-start;
        padding: 0 1rem;
        cursor: pointer;
        transition: background 0.5s ease, color 0.5s ease;
        position: relative;
    }

    nav ul li:nth-of-type(3) {
        border: none;
    }

    nav ul li:hover {
        background: skyblue;
        color: black;
    }

    nav ul li a {
        width: 100%;
        height: 100%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
    }

    nav ul li a:hover {
        color: black;
        transform: none;
    }
}